<html ng-app="app">
  <head>
    <link rel="stylesheet" href="bootstrap.css"></link>
  </head>
  <body ng-controller="Feedback">
    <h1>Feedback 
      <span ng-show="workshop.attendee">de {{workshop.attendee}}</span>
    </h1>
    
    Nombre <br/>
    <input type="text" ng-model="workshop.attendee"></input><br/>

    Voto <br/>
    <input type="text" ng-model="workshop.score"></input><br/>

    Feedback <br/>
    <textarea 
      ng-model="workshop.feedback"
      placeholder="Razon for votar {{workshop.score || 0}}">
    </textarea>
    <br/>
    {{workshop.feedback | amazing}}

    <checkhuman valid="client.isHuman"></checkhuman> <br/>

    <button ng-disabled="!client.isHuman" ng-click="save(workshop)">Enviar Feedback</button> <br/>

    <script src="angular.js"></script>
    <script src="app.js"></script>
    <script src="check-human.js"></script>
    <script src="amazing-filter.js"></script>
    <script src="feedback.js"></script>
  </body>
</html>